---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h3> 👨🏻‍💻 Hello, Domainer!</h3>
			<p>
				At <a href="https://domaincentral.one">Domain Central</a>, we understand the pivotal role a perfect domain plays in setting the stage for your online presence. 
			</p>
			<p>	
				That's why we've created a one-stop platform that caters to all your domain-related needs. Whether you're a seasoned domain investor, a budding entrepreneur, or simply exploring the digital landscape, we've got you covered.
			</p>
			<p>
				<h5>Why Choose Domain Central?</h5>
			</p>
			<p>	
				<strong>Comprehensive Domain Price Aggregator:</strong> Say goodbye to the hassle of navigating through multiple sites to compare domain prices. Our robust aggregator brings you the best deals across the web in one convenient location. Find the perfect domain at the perfect price, all at the click of a button.
			</p>
			<p>	
				<strong>Insightful Industry Blog:</strong> Stay ahead of the curve with our expertly curated blog. From the latest industry changes and technical advice to innovative sales and marketing strategies, we ensure you're always informed. Our content is designed to empower you with knowledge, helping you make informed decisions in the ever-evolving domain landscape.
			</p>
			<p>	
				<strong>Expert Guidance and Support:</strong> Our team of domain experts is dedicated to assisting you every step of the way. Whether you need help choosing a domain, navigating technical challenges, or crafting a winning marketing strategy, we're here to help. At Domain Central, your success is our priority.
			</p>

				<h5>Explore Our Site:</h5>
			<p>
					<strong>Domain Deals:</strong> Discover the best domain deals and exclusive offers tailored to your needs.
			</p>
			<p>
					<strong>Blog:</strong> Dive into our rich repository of articles, guides, and tips on everything domains.
			</p>
			<p>
					<strong>Technical Advice:</strong> Get practical, actionable advice to overcome technical hurdles with ease.
			</p>
			<p>
					<strong>Sales and Marketing:</strong> Learn how to maximize your domain's potential with our strategic insights.
			</p>

				<h5>Join Our Community:</h5>
			<p>
					Be part of a vibrant community of domain enthusiasts, professionals, and newcomers alike. Share your experiences, ask questions, and connect with like-minded individuals. At Domain Central, we're more than just a platform; we're a community.
			</p>

				<h5>Ready to Elevate Your Online Presence?</h5>
			<p>
					Your journey to domain mastery begins here. Explore Domain Central today and unlock the full potential of your digital identity. Your perfect domain awaits.
			</p>
			<p>
					<strong>Contact Us | Explore Deals | Read Our Blog</strong>
			</p>
		</main>
		<Footer/>
	</body>
</html>
